/*

// .navbar - .main-section - .brand-list - about-us - services-section - contact-banner - review-section - user-review - footer

*/

@media (max-width: 479px) {

    .main-section,
    .brand-list,
    .about-us,
    .services-section,
    .contact-banner,
    .review-section,
    .user-review,
    footer {
        display: none;
    }

    .navbar .navbar-items li {
        display: none;
    }

    header {
        width: 90%;
    }

    .bar-hide {
        display: block;
        font-size: 24px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-show {
        display: block;
    }

    .mobile-show .navbar-items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #111111;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 26px;
        z-index: 999999999;
        gap: 50px;
    }

    .mobile-show .navbar-items div {
        display: flex;
        align-items: center;
        margin-bottom: 75px;
        gap: 50px;
        z-index: 9999999999;
    }

    .mobile-show .navbar-items i {
        font-size: 28px;
    }

    .mobile-show .active {
        color: #fff;
    }

    .mobile-show .navbar-items .navbar-item:hover {
        color: #fff;
    }
}