* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #F5F5F5;
    color: #fff;
    max-width: 1400px;
    margin: auto;
    border-radius: 3px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 20px 40px;
}

.navbar #logo {
    display: block;
}

.navbar .left-side {
    display: flex;
    gap: 85px;
    align-items: center;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    color: #6F6F6F;
    cursor: pointer;
    gap: 30px;
}

.navbar-items .active {
    color: #000;
}

.navbar button {
    background-color: #454955;
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.brand-list {
    display: none;
}

.brands {
    display: none;
}