* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #F5F5F5;
    color: #fff;
    max-width: 1400px;
    margin: auto;
    border-radius: 3px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 20px 40px;
}

.navbar #logo {
    display: block;
}

.navbar .left-side {
    display: flex;
    gap: 85px;
    align-items: center;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    color: #888888;
    cursor: pointer;
    gap: 30px;
}

.navbar-items .navbar-item:hover {
    color: #3b3b3b;
}

.navbar-items .active {
    color: #000;
    font-weight: 500;
}

.navbar button {
    background-color: #454955;
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar button:hover {
    background-color: #545763;
}

.main-section {
    background-image: url(../assets/patterns/bg-pattern.svg);
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    position: relative;
    max-width: 1400px;
    padding: 100px 0px 100px 0px;
}

.main-content .left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.main-content .left-side h1 {
    font-size: 36px;
    width: 630px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-content .left-side p {
    font-size: 17px;
    color: #9C9C9C;
    width: 550px;
    margin-bottom: 20px;
}

.main-content .left-side button {
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 45px;
    font-size: 18px;
    color: #FFF;
    background-color: #454955;
    border: none;
    border-radius: 3px;
    margin-top: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-content .left-side button:hover {
    background-color: #545763;
}

.main-section img {
    width: 300px;
    height: 425px;
    border-radius: 20px;
}

.scroll-arrow{
    position: absolute;
    bottom: 0;
}

.brand-list {
    margin-top: 50px;
    margin-bottom: 115px;
    background-color: #161616;
    border-bottom: solid 5px #FF0040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    padding: 20px 0;
    width: 1400px;
}

.brand-item img {
    transition: filter 0.3s ease;
}
  
.brand-item:hover img {
    filter: brightness(0) invert(0.65);
}

.about-us {
    display: flex;
    max-width: 1400px;
    margin: auto;
    gap: 75px;
}

.about-us .img-container {
    position: relative;
    width: 450px;
    height: 375px;
    border-radius: 10px;
    overflow: hidden;
}

.about-us .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.about-us .img-container::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 10px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    width: 100%
}

.about-us-content h1 {
    font-size: 28px;
    font-weight: 600;
}

.about-us-content p {
    font-size: 1.1rem;
    color: #6C6C6C;
    font-weight: 400;
    margin-top: 20px;
}

.about-us-content p:nth-child(2) {
    margin-top: 30px;
}

.about-us-content p:nth-child(3) {
    margin-bottom: 50px;
}

.about-us-content button {
    background-color: #FF0040;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 165px;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-us-content button:hover {
    background-color: rgb(223, 23, 73);
}

.services-section {
    margin-top: 115px;
}

.contact-banner{
    width: 100%;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipMTLXuSq4z3qlH63KYckjuQuFZSqBQwYkbk0aGr=s680-w680-h510);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position-y: 30%;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-banner-content{
    display: flex;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
}

.address{
    color: white;
    width: 290px;
    margin-left: 50px;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
}

.address button{
    background-color: #2E2E2E;
    border: none;
    padding: 5px 40px 5px 40px ;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    transition: all 0.3s ease;
}

.address button:hover {
    background-color: #3b3b3b;
}

.call-section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.call-button{
    background-color: #FF0040;
    padding: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: solid 3px #171717;
    outline: 2px solid white;
    font-size: 23px;
    transition: all 0.3s ease;
}

.call-button:hover {
    background-color: rgb(223, 23, 73);
}

.content-location{
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-text{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 18px;
}

.call-text span{
    font-style: italic;
    font-weight: 300;
}